
/*=================mise en page générale==================*/

@font-face {
  font-family: 'shapup';
  src: url('../font/Slave.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin-top: 0;
  background-color: black;
}

/*=================mise en page du header==================*/

header {
  border: 1px solid; /* pour supprimer les marges*/
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(70%) opacity(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(70%) opacity(90%);
  height: 100vh;
  width: 100vw;
  position: relative;
}

header h1, header h2 {
  color: white;
  margin: 0 0 0 20px;

}


header h1 {
  font-family: 'shapup';
  font-size: 5.8em;
}

header h2 {
  font-family: sans-serif;
  font-size: 1em;
}

header nav {
  height: 55px;
}


header nav button {
  width: 100%;
}


header nav button i {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 2em!important;
}

header nav button:hover i {
  transition: 0.4s;
  transform: scale(1.3);
}

header nav div div {
  position: absolute;
  top: 46.5px;
  background-color: black;
}

header nav div div *{
 color: white!important;
 text-align: center;
 font-weight: bold;
}


header nav div div a:hover{
  text-decoration: underline!important;
}



/*==========================
MISE EN PAGE SMARTPHONE LARGE
==========================*/


@media (min-width:450px) {

  /*=================mise en page du header==================*/
  header {
    background-image: url(../img/bg4.jpg);
    background-position: right;
  }

  header h1 {
  margin-top: 15vh;
  }

  header h1, header h2 {
    color: black;
    margin: 20 0 0 20px;
  }

  header nav {
    background-color: black!important;
    width: 100%;

  }

  header nav div div {
    top: 0px;
    width: 100%;
    left: 10px;
    margin-left: 0;
  }

}

/*==================
MISE EN PAGE TABLET
==================*/


@media (min-width:768px) {

  /*=================mise en page du header==================*/
  header {
    background-image: url(../img/bg.jpg);
    background-position: right;
  }


}

/*==================
MISE EN PAGE LAPTOP
==================*/


@media (min-width:970px) {



}
